__pycache__/
.pytest_cache/
.venv/
.env
dist/
.DS_Store
*.log
log_error.json
IMPROVEMENTS.md
access.json
logs_node_agent.json

# Node Agent
node-agent/.env
node-agent/test-logs/*.log
node-agent/test-logs/access.log